<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""> 𝕸𝖊 𝖌𝖚𝖘𝖙𝖆 <i class="bi bi-fire"></i></a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="menu"routerLinkActive="active-link">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about"routerLinkActive="active-link" >Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact"routerLinkActive="active-link">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart"routerLinkActive="active-link"><i class="bi bi-cart4"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
