<div class="container-fuluid footer">
    <div class="row">
        <div class="col-lg-4">
            <h1> 𝕹𝕺𝕾𝕾𝕺 𝕮𝕺𝕹𝕿𝕬𝕿𝕺  <i class="bi bi-fire"></i> </h1>
            <p> Entre em contato conosco para saber das novidades. </p>
        </div>

        <div class="col-lg-4 ">
            <a routerLink="home"> Home </a>
            <a routerLink="menu">  Menu </a>
            <a routerLink="about"> Sobre </a>
            <a routerLink="contact"> Contato </a>
        </div>

        <div class="col-lg-4">
            <a href="" target="blank" ><i class="bi bi-youtube"></i></a>
            <a href="" target="blank" ><i class="bi bi-whatsapp"></i></a>
            <a href="" target="blank" ><i class="bi bi-instagram"></i></a>
            <a href="" target="blank" ><i class="bi bi-facebook"></i></a>
            <a href="" target="blank" ><i class="bi bi-twitter"></i></a>
        </div>


    </div>
</div>
