<div class="container mt-5 mb-5">

  <h1 class="text-center">𝖁𝕰𝕹𝕳𝕬 𝕹𝕺𝕾 𝕮𝕺𝕹𝕳𝕰𝕮𝕰𝕽<br>
    <br>
    <div class="redes">
      <a href="" target="blank"><i class="bi bi-youtube"></i></a>
      <a href="" target="blank"><i class="bi bi-whatsapp"></i></a>
      <a href="" target="blank"><i class="bi bi-instagram"></i></a>
      <a href="" target="blank"><i class="bi bi-facebook"></i></a>
      <a href="" target="blank"><i class="bi bi-twitter"></i></a>
    </div>
    <br>
  </h1>


  <section class="contact" id="contact">



    <div class="row">
      <br><br>
      <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14672.703230415616!2d-45.89652!3d-23.1637827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9b8cc1436654ceb6!2sSENAI!5e0!3m2!1spt-BR!2sbr!4v1658687750378!5m2!1spt-BR!2sbr"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>




  </section>
