<!-- <ng-container *ngIf="products.length!=0">
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Produto</th>
                            <th>Imagem</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of , let i = index">
                            <td>{{i+1}}</td>
                            <td>{{}}</td>
                            <td><img src="{{}}" style="width:120px;" alt=""</td>
                            <td style="width:20%;">{{}}</td>
                            <td style="width:20%;">{{}}</td>
                            <td style="width:20%;">{{}}</td>
                            <td style="width:20%;">{{}}</td>
                            <td><button (click)="removeProduct()" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length==0">
    <div class="container">
        <div class="card">
            <h4 class="card-title"> Meu carrinho de compras</h4>
        </div>

        <div class="center">
            <img src="">
            <h5> Seu carrinho está funcionando </h5>
            <h6> Adicione um novo item </h6>
            <button routerLink="/menu" class="btn btn-primary"> Compre Já</button>
        </div>
    </div>
</ng-container> -->